<h1>Listing Logsheets</h1>

<strong>Date logged</strong>
<strong>Approval Status</strong>


 <%= for {date,approve} <- @logsheets do %>
 <div class="form-group">
    <%= date %>
    <%= approve %>
    <%= link("View", to: Routes.logsheet_path(@conn, :show, "ff", user_id: @user_id, "date[day]": date.day, "date[month]": date.month, "date[year]": date.year)) %>


</div>

<% end %>
